@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.carrossel_wrapper {
    overflow: hidden;
}

#toolbar {
    display: flex;
    align-items: center;
}

.logo_wrapper {
    display: inline-block;
    margin: 0 4rem 0 1rem;
}

#menu {
    display: flex;
    align-items: center;
}

.menu_item {
    margin: 0 1rem;
    color: white;
}

.menu_item:hover {
    background-color: #50c8ff17;
}

.search_bar {
    width: 50vw;
    margin-left: 4rem;
}

#shadow-root {
    overflow: hidden;
}

.main_content {
    max-height: 90vh;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inicio_texto_wrapper {
    width: 50vw;
    height: 100vh;
    padding: 10px 1rem 0 2rem;
    background-color: rgba(128, 128, 128, 0.205);
}

.inicio_texto_header {
    font-size: 2.5rem;
    text-align: center;
    font-weight: 300;
}

strong {
    color: #3880ff;
}

.texto_p {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

.entre_ou_cadastre {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
}

.entre {
    margin: 2rem 0;
}